/* ===================================================================== */
/* ===================================================================== */
/*  Portal del Cliente FID                                               */
/*  Overrides Styles                                                     */
/*  $0 - Root - CSS Variables                                            */
/*  $1 - Custom Styles                                                   */
/*       $1.1 - Styles - Typography                                      */
/*       $1.2 - Styles - Colors                                          */
/*              $1.2.1 - Styles - Colors - Brand                         */
/*              $1.2.2 - Styles - Colors - Extendend                     */
/*              $1.2.3 - Styles - Colors - Neutral                       */
/*              $1.2.4 - Styles - Colors - Semantic                      */
/*  $2 - Custom Patterns                                                 */
/*       $2.1 - Patterns - Content                                       */
/*              $2.1.1   - Patterns - Content - Tooltip                  */
/*       $2.2 - Patterns - Navigation                                    */
/*              $2.2.1   - Patterns - Navigation - Sidebar               */
/*              $2.2.2   - Patterns - Navigation - Tabs                  */
/*              $2.2.3   - Patterns - Navigation - Wizard                */
/*       $2.3 - Patterns - Content - Card                                */
/*              $2.3.1   - Patterns - Content - CardBackground           */
/*              $2.3.2   - Patterns - Content - CardSectioned            */
/* ===================================================================== */
/* ===================================================================== */

/* ===================================================================== */
/*  $0 - Root - CSS Variables                                            */
/* ===================================================================== */
:root {

    /* Typography - Size */
    
    --font-size-display: 36px;
    --font-size-h1: 32px;
    --font-size-h2: 28px;
    --font-size-h3: 26px;
    --font-size-h4: 22px;
    --font-size-h5: 20px;
    --font-size-h6: 18px;
    --font-size-base: 16px;
    --font-size-s: 14px;
    --font-size-xs: 12px;   

    /* Color - Brand */
    --color-primary: #E4002B;
    --color-secondary: #83786F;
    --color-complementary: #275475;
    
    --color-primary-hover: #B20022;
    --color-primary-selected: #F27990;
    --color-primary-lightest: #FFE5EA;

    /* Color - Extended */
    --color-red-lightest: #FFE5EA;
    --color-red-lighter: #FFCCD6;
    --color-red-light: #F27990;
    --color-red: #E4002B;
    --color-red-dark: #B20022;
    --color-red-darker: #800018;
    --color-red-darkest: #4D000E;
    
    --color-blue-lightest: #E5F4FF;
    --color-blue-lighter: #B8D2E5;
    --color-blue-light: #7498B2;
    --color-blue: #275475;
    --color-blue-dark: #275475;
    --color-blue-darker: #1A374D;
    --color-blue-darkest: #112533;
    
    --color-lime-lightest: #FFEAD8;
    --color-lime-lighter: #CCBBAD;
    --color-lime-light: #998C82;
    --color-lime: #83786F;
    --color-lime-dark: #4D4641;
    --color-lime-darker: #262320;
    --color-lime-darkest: #1F1B18;
    
    /* Color - Neutral */
    --color-neutral-0: #ffffff;
    --color-neutral-1: #F8F9FA;
    --color-neutral-2: #F1F3F5;
    --color-neutral-3: #E9ECEF;
    --color-neutral-4: #DEE2E6;
    --color-neutral-5: #CED4DA;
    --color-neutral-6: #ADB5BD;
    --color-neutral-7: #6A7178;
    --color-neutral-8: #4F575E;
    --color-neutral-9: #272B30;
    --color-neutral-10: #101213;
    
    /* Border Radius */
    --border-radius-none: 0;
    --border-radius-soft: 5px;
    --border-radius-hard: 16px;
    --border-radius-rounded: 100px;
    --border-radius-circle: 100%;
}

/* Typography - Family */
@font-face {
    font-family: 'Azo Sans';
    src: url('AzoSans-BoldItalic.eot');
    src: local('Azo Sans Bold Italic'), local('AzoSans-BoldItalic'),
        url('AzoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-BoldItalic.woff2') format('woff2'),
        url('AzoSans-BoldItalic.woff') format('woff'),
        url('AzoSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Azo Sans Tn';
    src: url('AzoSans-Thin.eot');
    src: local('Azo Sans Thin'), local('AzoSans-Thin'),
        url('AzoSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-Thin.woff2') format('woff2'),
        url('AzoSans-Thin.woff') format('woff'),
        url('AzoSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Azo Sans Lt';
    src: url('AzoSans-LightItalic.eot');
    src: local('Azo Sans Light Italic'), local('AzoSans-LightItalic'),
        url('AzoSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-LightItalic.woff2') format('woff2'),
        url('AzoSans-LightItalic.woff') format('woff'),
        url('AzoSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Azo Sans Tn';
    src: url('AzoSans-ThinItalic.eot');
    src: local('Azo Sans Thin Italic'), local('AzoSans-ThinItalic'),
        url('AzoSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-ThinItalic.woff2') format('woff2'),
        url('AzoSans-ThinItalic.woff') format('woff'),
        url('AzoSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('AzoSans-Regular.eot');
    src: local('Azo Sans Regular'), local('AzoSans-Regular'),
        url('AzoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-Regular.woff2') format('woff2'),
        url('AzoSans-Regular.woff') format('woff'),
        url('AzoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Azo Sans Md';
    src: url('AzoSans-MediumItalic.eot');
    src: local('Azo Sans Medium Italic'), local('AzoSans-MediumItalic'),
        url('AzoSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-MediumItalic.woff2') format('woff2'),
        url('AzoSans-MediumItalic.woff') format('woff'),
        url('AzoSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Azo Sans Bk';
    src: url('AzoSans-Black.eot');
    src: local('Azo Sans Black'), local('AzoSans-Black'),
        url('AzoSans-Black.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-Black.woff2') format('woff2'),
        url('AzoSans-Black.woff') format('woff'),
        url('AzoSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Azo Sans Md';
    src: url('AzoSans-Medium.eot');
    src: local('Azo Sans Medium'), local('AzoSans-Medium'),
        url('AzoSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-Medium.woff2') format('woff2'),
        url('AzoSans-Medium.woff') format('woff'),
        url('AzoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Azo Sans Bk';
    src: url('AzoSans-BlackItalic.eot');
    src: local('Azo Sans Black Italic'), local('AzoSans-BlackItalic'),
        url('AzoSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-BlackItalic.woff2') format('woff2'),
        url('AzoSans-BlackItalic.woff') format('woff'),
        url('AzoSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Azo Sans Lt';
    src: url('AzoSans-Light.eot');
    src: local('Azo Sans Light'), local('AzoSans-Light'),
        url('AzoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-Light.woff2') format('woff2'),
        url('AzoSans-Light.woff') format('woff'),
        url('AzoSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('AzoSans-Italic.eot');
    src: local('Azo Sans Italic'), local('AzoSans-Italic'),
        url('AzoSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-Italic.woff2') format('woff2'),
        url('AzoSans-Italic.woff') format('woff'),
        url('AzoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('AzoSans-Bold.eot');
    src: local('Azo Sans Bold'), local('AzoSans-Bold'),
        url('AzoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('AzoSans-Bold.woff2') format('woff2'),
        url('AzoSans-Bold.woff') format('woff'),
        url('AzoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* ================================================================ */
/*  $1 - Resets                                                     */
/* ================================================================ */

html {    
    font-family: "Azo Sans", "Roboto", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* ================================================================ */
/*  $2 - HTML Elements                                              */
/* ================================================================ */

/* $2.5 - HTML Elements - Buttons */
.Button,
.btn {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-soft);
    border: var(--border-size-s) solid currentColor;
    color: var(--color-primary);
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    font-weight: var(--font-semi-bold);
    height: 40px;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    margin: 0;
    padding: var(--space-none) var(--space-base);
    -webkit-transition: all 180ms linear;
            transition: all 180ms linear;
}

.Is_Default {
    background-color: var(--color-primary);
    border: var(--border-size-none);
    color: var(--color-neutral-0);
}

.Button[class*="background-"],
.btn[class*="background-"] {
    border: var(--border-size-none);
    color: var(--color-neutral-0);
}

.Button[class*="text-"],
.btn[class*="text-"] {
    background-color: var(--color-neutral-0);
    border: var(--border-size-s) solid currentColor;
}

.Button + .Button {
    margin-left: 24px;
}

.Button .fa {
    width: auto;
}

.Button .fa:first-child {
    padding-right: var(--space-s);
}

.Button .fa:last-child {
    padding-left: var(--space-s);
}

.Button:focus {
    box-shadow: 0 0 0 2px #a3daff;
}

.Button:hover {
    box-shadow: var(--shadow-s);
    -webkit-filter: brightness(.95);
            filter: brightness(.95);
}

.Button:hover:active {
    box-shadow: var(--shadow-none);
    -webkit-filter: brightness(.90);
            filter: brightness(.90);
}

.Is_Default:hover {
    -webkit-filter: brightness(.9);
            filter: brightness(.9);
}

.Is_Default:hover:active {
    box-shadow: var(--shadow-none);
    -webkit-filter: brightness(.8);
            filter: brightness(.8);
}

.btn-large {
    font-size: var(--font-size-base);
    height: 48px;
}

.btn-small {
    font-size: var(--font-size-xs);
    height: 32px;
    padding: var(--space-none) var(--space-s);
}

/* ================================================================ */
/*  $3.1 - Page Layout - Header                                     */
/* ================================================================ */

.layout .header {
    background-color: var(--color-neutral-0);
    box-shadow: 0 1px 5px 0 rgba(21, 24, 26, .1);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.layout.layout-top .header {
    -servicestudio-position: relative;
}

.desktop-hd .layout.layout-side .header {
    left: var(--side-menu-size);
}

.desktop-big .layout.layout-side .header {
    left: calc(var(--side-menu-size) - 20px);
}

.layout.layout-side .header {
    left: calc(var(--side-menu-size) - 40px);
}

.desktop-small .layout.layout-side .header {
    left: calc(var(--side-menu-size) - 60px);
}

.phone .layout.layout-side .header,
.tablet .layout.layout-side .header {
    left: 0;
}

.layout.layout-side .navigation {
    background-color: var(--color-neutral-0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: var(--side-menu-size);
    z-index: 101;
}

.desktop-hd .layout.layout-side .main {
    margin-left: var(--side-menu-size);
}

.desktop-big .layout.layout-side .main {
    margin-left: calc(var(--side-menu-size) - 20px);
}

.layout.layout-side .main {
    margin-left: calc(var(--side-menu-size) - 40px);
}

.desktop-small .layout.layout-side .main {
    margin-left: calc(var(--side-menu-size) - 60px);
}

.desktop-hd .layout.layout-side .navigation {
    width: var(--side-menu-size);
}

.desktop-big .layout.layout-side .navigation {
    width: calc(var(--side-menu-size) - 20px);
}

.layout.layout-side .navigation {
    width: calc(var(--side-menu-size) - 40px);
}

.desktop-small .layout.layout-side .navigation {
    width: calc(var(--side-menu-size) - 60px);
}

.phone .layout.layout-side .navigation,
.tablet .layout.layout-side .navigation {
    width: var(--side-menu-size);
}

.phone .layout.layout-side .main,
.tablet .layout.layout-side .main {
    margin-left: 0;
}

.navigation-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: var(--header-size);
    padding: var(--space-none) var(--space-m);
}

.navigation-menu {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    -webkit-overflow-scrolling: touch;
                    overflow-y: auto;
    padding: var(--space-s);
}

.navigation-bottom {
    padding: var(--space-m);
}


/* $3.1.1 - Page Layout - Header Top */
.header-top {
    height: var(--header-size);
}

.header-left {

}

.header-center {
    padding: var(--space-none) var(--space-xl);
}

.header-right {

}


/*  $3.1.2 - Page Layout - Header Content  */
.header-content {
    width: 100%;
}

.app-logo {
    border-radius: var(--border-radius-soft);
    height: 32px;
    margin-right: var(--space-s);
    width: 32px;
}

.menu-icon {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    color: var(--color-neutral-10);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    margin-right: var(--space-m);
    width: 24px;
}

.menu-icon-line {
    background-color: var(--color-neutral-8);
    border-radius: 20px;
    height: 3px;
    margin: 2px 0;
    width: 100%;
}

/* ================================================================ */
/*  $4 - Patterns                                                   */
/* ================================================================ */

/* ================================================================ */
/*  $4.1 - Patterns - Content                                       */
/* ================================================================ */


/* $4.1.6 - Patterns - Content - Card */
.card {
    background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-hard);
    border: none;
    box-shadow: var(--shadow-s);
}


/* $4.1.7 - Patterns - Content - CardBackground */
.card-background {
    color: var(--color-neutral-0);
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: var(--space-m);
    position: relative;
}

.card-background-content {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;
}

.card-background-content.top-left,
.card-background-content.center-left,
.card-background-content.bottom-left {
    text-align: left;
}

.card-background-content.top-center,
.card-background-content.center,
.card-background-content.bottom-center {
    text-align: center;
}

.card-background-content.top-right,
.card-background-content.center-right,
.card-background-content.bottom-right {
    text-align: right;
}

.card-background-image,
.card-background-color {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-background-color {
    opacity: .6;
}

.card-background-color:after {
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    content: '';
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.card-background-image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    width: 100%;
}

.card-background-ie .card-background-image {
    background-size: cover;
}

.card-background-ie .card-background-image img {
    display: none;
}


/* $4.1.8 - Patterns - Content - CardSectioned */
.card-sectioned {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
    padding: var(--space-none);
}

.card-image {
    padding: var(--space-m) var(--space-m) var(--space-none);
}

.ie10 .card-image,
.ie11 .card-image {
    height: auto;
    width: 100%;
}

.card-image img {
    display: block;
    margin: 0 auto;
}

.card-title {
    font-size: var(--font-size-h4);
    font-weight: var(--font-semi-bold);
    padding: var(--space-m) var(--space-m) var(--space-none) var(--space-m);
}

.card-sectioned.flex-direction-row .card-image {
    padding: var(--space-m) var(--space-none) var(--space-m) var(--space-m);
}

.card-sectioned.flex-direction-row .card-image.padding-none {
    padding: var(--space-none);
}

.card-content {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    padding: var(--space-m);
}

.ie10 .card-content,
.ie11 .card-content {
    flex: none;
}

.card-footer {
    padding: var(--space-none) var(--space-m) var(--space-m);
}

.card-sectioned-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
}

.card-sectioned.flex-direction-row.card-sectioned-right .card-image {
    -webkit-box-ordinal-group: 3;
               -ms-flex-order: 2;
                        order: 2;
    padding: var(--space-m) var(--space-m) var(--space-m) var(--space-none);
}

.card-sectioned.flex-direction-row.card-sectioned-right .card-image.padding-none {
    padding: var(--space-none);
}

/* $4.1.12 - Patterns - Content - Modal */
.modal {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: var(--space-l);
    pointer-events: none;
    position: fixed;
    top: 0;
    -webkit-transition: opacity 330ms ease;
            transition: opacity 330ms ease;
    width: 100%;
    z-index:110;
    -servicestudio-pointer-events: all;
    -servicestudio-position: relative;
    -servicestudio-opacity: 1;
    -servicestudio-z-index: 1;
}

.modal .animate {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
}

.modal.is--visible {
    opacity: 1;
    pointer-events: auto;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, .25);
 }

.modal-wrapper {
    background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-soft);
    box-shadow: var(--shadow-xl);
    max-height: 100%;
    max-width: 500px;
    width: 100%;
    -servicestudio-margin: 0 auto;
}

.modal-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: var(--space-m) var(--space-m) var(--space-none);
}

.modal-title {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
}

.modal-close a, 
.modal-close a:visited {
    color: var(--color-neutral-8);
}

.modal-close a:hover {
    color: var(--color-neutral-9);
}

.modal-content {
    max-height: 70vh;
    overflow-y: auto;
    padding: var(--space-m);
    -servicestudio-max-height: 100%;
}

.modal-content .choices__list--dropdown {
    margin-bottom: var(--space-m);
}

.modal-content .choices__list--dropdown .choices__list {
    max-height: 200px;
}

.modal-footer {
    border-top: var(--border-size-s) solid var(--color-neutral-4);
    padding: var(--space-m);
}


/* $4.1.13 - Patterns - Content - Panel */
.panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    padding: var(--space-none);
}

.panel-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
}

.panel-title {
    font-size: var(--font-size-h4);
    font-weight: var(--font-semi-bold);
    padding: var(--space-m) var(--space-m) var(--space-none) var(--space-m);
}

.panel-actions {
    text-align: right;
    padding: var(--space-m) var(--space-m) var(--space-none) var(--space-m);
}

.panel-content {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    padding: var(--space-m);
}

.ie10 .panel-content,
.ie11 .panel-content {
    flex: none;
}

.panel-footer {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
    justify-content: space-between;
    padding: var(--space-none) var(--space-m) var(--space-m);
}


/* $4.1.14 - Patterns - Content - Section */
.section {
    position: relative;
}

.section-header {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    border-bottom: var(--border-size-s) solid var(--color-neutral-4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
    padding-bottom: var(--space-s);
}

.section-title {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    font-size: var(--font-size-h2);
    font-weight: var(--font-semi-bold);
}

.section-actions {
    margin-left: var(--space-xs);
}

.section-content {
    padding-top: var(--space-s);
}


/* $4.1.15 - Patterns - Content - Tag */
.tag {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    background-color: var(--color-primary);
    color: var(--color-neutral-0);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: var(--font-semi-bold);
    height: 32px;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    line-height: 1;
    min-width: 32px;
    padding: var(--space-none) var(--space-base);
    word-break: normal;
}

.tag.tag-small {
    font-size: var(--font-size-xs);
    height: 24px;
    padding: var(--space-none) var(--space-s);
}

.tag.tag-medium {
    font-size: var(--font-size-base);
    height: 40px;
    padding: var(--space-none) var(--space-m);
}

.tag.background-neutral-0,
.tag.background-neutral-1,
.tag.background-neutral-2,
.tag.background-neutral-3,
.tag.background-neutral-4 {
    color: var(--color-neutral-9);  
}

.tag-content:empty { 
    -servicestudio-min-width: 150px;
}

/* $4.1.16 - Patterns - Content - Tooltip */
.tooltip {
    background-color: var(--color-neutral-9);
    border-radius: var(--border-radius-soft);
    color: var(--color-neutral-0);
    padding: var(--space-xs) var(--space-s);
    text-align: center;
    z-index: 50;
}

.tooltip:empty {
    -servicestudio-min-width: 170px;
}

/* Fix to get the tooltip to not render on refresh */
.tooltip {
    display: none;
}

.tippy-popper .tooltip {
    display: block;
}

/* Enable a label to be used inside button group */
.button-group label > label {
   pointer-events: none;
}

.button-group .btn {
    border-radius: var(--border-radius-none);
    border: var(--border-size-s) solid var(--color-primary);
    color: var(--color-primary);
    display: inline-flex;
    white-space: nowrap;
    width: 100%;
    -servicestudio-padding-top: 10px;
}

.Form .button-group .btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.button-group label:first-child .btn {
    border-radius: var(--border-radius-soft) var(--border-radius-none) var(--border-radius-none) var(--border-radius-soft);
}

.button-group label:last-child .btn {
    border-radius: var(--border-radius-none) var(--border-radius-soft) var(--border-radius-soft) var(--border-radius-none);
}

.button-group label .btn {
    text-align: center;
}

.button-group label:not(:first-child) .btn {
    border-left: var(--border-size-none);
}

.button-group input[type="radio"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -servicestudio-left: 50%;
    -servicestudio-opacity: 1;
    -servicestudio-height: 10px;
    -servicestudio-top: 4px;
    -servicestudio-transform: translate(-50%, 0%);
    -servicestudio-width: 10px;
}

.button-group input[type="radio"]:checked + .btn {
    background-color: var(--color-primary);
    color: var(--color-neutral-0);
}


/* ================================================================ */
/*  $4.3 - Patterns - Layouts                                       */
/* ================================================================ */

/* $4.3.1 - Patterns - Layouts - Logins */
.layout-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    height: 100%;
    position: relative;
}

.layout-login > .columns {
    width: 100%;
}

.layout-login > .columns > .columns-item {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
}
.layout-login > .columns > .columns-item > .layout-login-background {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.layout-login > .columns > .columns-item > .layout-login-background * {
    position: relative;
    z-index: 2;
}

.layout-login > .columns > .columns-item > img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 100%;
}

.layout-login-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    min-width: 435px;
    position: relative;
    z-index: 2;
}

.layout-login-simple .layout-login-background {
    background-color: var(--color-primary);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.layout-login-simple .layout-login-background > img {
    display: block;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}

.layout-login-simple .layout-login-form-content {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    position: relative;
    width: 100%;
    z-index: 2;
}

.layout-login-simple .layout-login-form {
    background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-soft);
    box-shadow: var(--shadow-l);
    padding: var(--space-xxl);
}

/* ================================================================ */
/*  $4.4 - Patterns - Navigation                                    */
/* ================================================================ */

/* $4.4.1 - Patterns - Navigation - Breadcrumbs */
.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs-item {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    color: var(--color-neutral-8);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.breadcrumbs-item .icon {
    color: var(--color-neutral-6);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    margin: var(--space-none) var(--space-s);
}

.breadcrumbs-item .icon .fa-fw {
    font-size: var(--font-size-xs);
    width: auto;
}

/* $4.4.3   - Patterns - Navigation - SectionIndex */
.section-index {
    border-left: var(--border-size-s) solid var(--color-neutral-4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.section-index.is--sticky {
    position: -webkit-sticky;
    position: sticky;
}

.section-index a,
.section-index a:visited {
    border-left: var(--border-size-m) solid transparent;
    color: var(--color-neutral-8);
    margin-bottom: var(--space-s);
    padding-left: var(--space-base);
}

.section-index a:hover {
    color: var(--color-neutral-9);  
}

.section-index-item {
    cursor: pointer;
}

.section-index-item:last-child {
    margin-bottom: var(--space-none);
}

a.section-index-item.is--active {
    border-left: var(--border-size-m) solid var(--color-primary);
    color: var(--color-neutral-9); 
    font-weight: var(--font-semi-bold);
}

/* $4.4.4 - Patterns - Navigation - Sidebar */
.sidebar {
    -servicestudio-display: flex;
    -servicestudio-justify-content: flex-end;
}

.sidebar-container {
    background: var(--color-neutral-0);
    box-shadow: var(--shadow-l);
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    right: 0;
    top: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 500px;
    z-index: 150;
    -servicestudio-position: relative;
    -servicestudio-height: auto;
    -servicestudio-transform: translateX(0);
}

.sidebar-header,
.sidebar-content {
    padding: var(--space-base) var(--space-m);
}

.sidebar-overlay {
    background-color: rgba(190, 190, 190, .25);
    cursor: pointer;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 103;
    -servicestudio-display: none;
}

.sidebar.is--visible .sidebar-overlay {
    pointer-events: initial;
}

.phone .sidebar-container {
    width: 85vw;
}

/* Fix for usage inside tabs*/
.tabs .is--visible .sidebar-container.enter-right,
.tabs .is--hidden .sidebar-container.leave-right,
.tabs .is--visible .sidebar-overlay.enter-fade,
.tabs .is--hidden .sidebar-overlay.leave-fade {
    -webkit-animation-name: none;
            animation-name: none;
}

.tabs .sidebar-container,
.tabs .sidebar-overlay {
    transition: transform 1000ms ease-out, opacity 1000ms ease-out;
    will-change: transform, opacity;
}

.tabs .is--visible .sidebar-container {
    -webkit-transform: translateX(0) translateZ(0);
            transform: translateX(0) translateZ(0);
}

.tabs .is--visible .sidebar-overlay {
    opacity: 1;
}

/* $4.4.5 - Patterns - Navigation - Tabs */
.tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.tabs.tabs-vertical {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.tabs .tabs-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    z-index: 2;
}

.tabs .tabs-header .ListRecords,
.tabs .tabs-header > span  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.tabs.justified .tabs-header {
    width: 100%;
}

.tabs-header-item {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    border-bottom: var(--border-size-m) solid transparent;
    color: var(--color-neutral-8);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    margin-left: var(--space-l);
    padding: var(--space-base) var(--space-xs);
    -webkit-transition: border 150ms linear;
            transition: border 150ms linear;
}

.tabs-header-item:first-child {
    margin-left: var(--space-none);
}

.tabs-header-item:hover {
    border-bottom: var(--border-size-m) solid var(--color-neutral-6);
    color: var(--color-neutral-10);
}

.tabs-header-item.active {
    border-bottom: var(--border-size-m) solid var(--color-primary);
    color: var(--color-neutral-10);
    font-weight: var(--font-semi-bold);
}

.tabs-header-item .fa-fw {
    margin-right: var(--space-s);
    width: auto;
}

.tabs-header-item.active .fa-fw {
    color: var(--color-primary);
}

.tabs-header-item .badge {
    margin-left: var(--space-s);
}

.tabs.justified .tabs-header-item {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    margin-left: var(--space-none);
}

.tabs .tabs-content {
    border-top: var(--border-size-s) solid var(--color-neutral-5);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: -1px;
    padding: var(--space-m) var(--space-none);
    position: relative;
    width: 100%;
    z-index: auto;
}

.tabs .tabs-content-item:not(.active) {
    display: none;
}

.tabs.tabs-vertical .tabs-header,
.tabs.tabs-vertical .tabs-header .ListRecords {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: auto;
    word-break: initial;
}


.tabs.tabs-vertical.justified .tabs-header {
    height: auto;
}

.tabs.tabs-vertical .tabs-header-item {
    border-bottom: var(--border-size-none);
    border-right: var(--border-size-m) solid transparent;
    -webkit-box-pack: start;
       -ms-flex-pack: start;
     justify-content: flex-start;
    margin-left: var(--space-none);
    padding: var(--space-s) var(--space-m) var(--space-s) var(--space-none);
}

.tabs.tabs-vertical .tabs-header-item.active {
    border-right: var(--border-size-m) solid var(--color-primary);
}

.tabs.tabs-vertical .tabs-content {
    border-left: var(--border-size-s) solid var(--color-neutral-5);
    border-top: var(--border-size-none);
    margin-left: -1px;
    margin-top: var(--space-none);
    padding: var(--space-none) var(--space-m);
}

.tabs.tabs-vertical.tabs-header-right .tabs-header {
    -webkit-box-ordinal-group: 3;
               -ms-flex-order: 2;
                        order: 2;
}

.tabs.tabs-vertical.tabs-header-right .tabs-header .tabs-header-item {
    border-left: var(--border-size-m) solid transparent;
    border-right: var(--border-size-none);
    padding: var(--space-s) var(--space-none) var(--space-s) var(--space-m);
}

.tabs.tabs-vertical.tabs-header-right .tabs-header .tabs-header-item.active {
    border-left: var(--border-size-m) solid var(--color-primary);
}

.tabs.tabs-vertical.tabs-header-right .tabs-content {
    border-left: var(--border-size-none);
    border-right: var(--border-size-s) solid var(--color-neutral-5);
    margin-left: var(--space-none);
    margin-right: -1px
}

/* $4.4.6 - Patterns - Navigation - Timeline */
.timeline-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
}

.timeline-item-left {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    margin-right: var(--space-base);
    padding: var(--space-s) var(--space-none) var(--space-none);
}

.timeline-item-icon {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    border-radius: var(--border-radius-circle);
    color: var(--color-neutral-0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
    justify-content: center;
    width: 24px;
}

.timeline-item-icon .fa-fw {
    font-size: var(--font-size-xs);
    width: auto;
}

.timeline-item-icon:empty {
    height: 8px;
    width: 8px;
}

.timeline-item-separator {
    background-color: var(--color-neutral-5);
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    margin: var(--space-s) var(--space-none) var(--space-none);
    width: 1px;
}

.timeline-item:last-child .timeline-item-separator {
    display: none;
}

.timeline-item-right {
    margin-bottom: var(--space-xl);
}

.timeline-item:last-child .timeline-item-right {
    margin-bottom: var(--space-none);
}

.timeline-item-date {
    margin-bottom: var(--space-xs);
}


/* $4.4.7 - Patterns - Navigation - Wizard */
.wizard-item {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    position: relative;
    width: 100%;
}

.wizard-item.label-top .wizard-item-icon-wraper {
    -webkit-box-ordinal-group: 3;
               -ms-flex-order: 2;
                        order: 2;
}

.wizard-item.label-top .wizard-item-label {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    -webkit-box-ordinal-group: 2;
               -ms-flex-order: 1;
                        order: 1;
}

.ie11 .wizard.flex-direction-row .wizard-item.label-top .wizard-item-label,
.ie10 .wizard.flex-direction-row .wizard-item.label-top .wizard-item-label {
    -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;    
}

.wizard-item-icon:empty {
    height: 8px;
    width: 8px;
}

.wizard-item-icon {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-circle);
    border: var(--border-size-m) solid var(--color-neutral-5);
    color: var(--color-neutral-7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 32px;
    z-index: 2;
}

.wizard-item.active .wizard-item-icon {
    background-color: var(--color-neutral-0);
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.wizard-item.past .wizard-item-icon {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-neutral-0);
}

.wizard-item-icon .fa-fw {
    font-size: var(--font-size-xs);
    width: auto;
}

.wizard-item-icon-wraper {
    margin: var(--space-s) var(--space-none);
    position: relative;
    width: 100%;
}

.wizard-item .wizard-item-icon-wraper:before {
    content: '';
    height: 2px;
    position: absolute;
    right: calc(50% + 12px);
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: calc(100% - 24px);
    z-index: 0;
}

.wizard-item.past .wizard-item-icon-wraper:before {
    background-color: var(--color-primary);
}

.wizard-item.active .wizard-item-icon-wraper:before {
    background-color: var(--color-primary);
}

.wizard-item.next .wizard-item-icon-wraper:before {
    background-color: var(--color-neutral-5);
}

.wizard-item:first-child .wizard-item-icon-wraper:before {
    content: none;
}

.wizard-item-label {
    color: var(--color-neutral-7);
    text-align: center;
}

.wizard-item.past .wizard-item-label {
    color: var(--color-neutral-8);
}

.wizard-item.active .wizard-item-label {
    color: var(--color-neutral-10);
}

.wizard-item.next .wizard-item-icon .fa-fw {
    color: var(--color-neutral-5);
}

.wizard-vertical .wizard-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    margin-bottom: var(--space-l);
}

.wizard-vertical .wizard-item:last-child {
    margin-bottom: var(--space-none);
}

.wizard-vertical .wizard-item-icon-wraper {
    margin: var(--space-none) var(--space-s) var(--space-none) var(--space-none);
    width: auto;
}

.wizard-vertical .wizard-item .wizard-item-icon-wraper:before {
    bottom: calc(50% + 12px);
    height: calc(100% + 18px);
    left: 50%;
    top: auto;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
    width: 2px;
}

.wizard-vertical .wizard-item.label-top .wizard-item-label {
    text-align: right;
}

.wizard-vertical .wizard-item.label-top .wizard-item-icon-wraper {
    margin: var(--space-none) var(--space-none) var(--space-none) var(--space-s);
}

.wizard .ListRecords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.wizard-vertical .ListRecords {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}

.ie11 .wizard-vertical .wizard-item {
    -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
}

/* Cross-Platform Preview */
html[data-uieditorversion^='1'] .wizard.flex-direction-row .wizard-item-icon-wraper:before {
   -servicestudio-width: 100%;
}

html[data-uieditorversion^='1'] .wizard > div:first-child .wizard-item-icon-wraper:before,
html[data-uieditorversion^='1'] .wizard .ListRecords > div:first-child .wizard-item-icon-wraper:before {
   -servicestudio-display: none;
}



/* $4.5.6 - Patterns - Numbers - UserAvatar */
.user-avatar {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    background-color: var(--color-primary);
    color: var(--color-neutral-0);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: var(--font-semi-bold);
    height: 32px;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    text-transform: uppercase;
    width: 32px;
}

.user-avatar.background-neutral-0,
.user-avatar.background-neutral-1, 
.user-avatar.background-neutral-2,
.user-avatar.background-neutral-3,
.user-avatar.background-neutral-4 {
    color: var(--color-neutral-9);  
}

.user-avatar-small {
    font-size: var(--font-size-xs);
    height: 24px;
    width: 24px;
}

.user-avatar-medium {
    font-size: var(--font-size-base);
    height: 40px;
    width: 40px;
}



/* ================================================================ */
/*  $6.2 - Styles - Colors                                          */
/* ================================================================ */

/* $6.2.1 - Styles - Colors - Brand */
.background-primary { background-color: var(--color-primary); }
.background-secondary { background-color: var(--color-secondary); }

.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }

/* Background and Text Colors used when IsLight parameter for Badge / Tag / UserInitials is True */
.background-primary-lightest { background-color: var(--color-neutral-0); }
.background-secondary-lightest { background-color: var(--color-neutral-0); }

.text-primary-darker { color: var(--color-primary);}
.text-secondary-darker { color: var(--color-secondary); }


/* $6.2.2 - Styles - Colors - Extendend */
.background-red-lightest { background-color: var(--color-red-lightest); }
.background-red-lighter { background-color: var(--color-red-lighter); }
.background-red-light { background-color: var(--color-red-light); }
.background-red { background-color: var(--color-red); }
.background-red-dark { background-color: var(--color-red-dark); }
.background-red-darker { background-color: var(--color-red-darker); }
.background-red-darkest { background-color: var(--color-red-darkest); }

.text-red-lightest { color: var(--color-red-lightest); }
.text-red-lighter { color: var(--color-red-lighter); }
.text-red-light { color: var(--color-red-light); }
.text-red { color: var(--color-red); }
.text-red-dark { color: var(--color-red-dark); }
.text-red-darker { color: var(--color-red-darker); }
.text-red-darkest { color: var(--color-red-darkest); }

.background-pink-lightest { background-color: var(--color-pink-lightest); }
.background-pink-lighter { background-color: var(--color-pink-lighter); }
.background-pink-light { background-color: var(--color-pink-light); }
.background-pink { background-color: var(--color-pink); }
.background-pink-dark { background-color: var(--color-pink-dark); }
.background-pink-darker { background-color: var(--color-pink-darker); }
.background-pink-darkest { background-color: var(--color-pink-darkest); }

.text-pink-lightest { color: var(--color-pink-lightest); }
.text-pink-lighter { color: var(--color-pink-lighter); }
.text-pink-light { color: var(--color-pink-light); }
.text-pink { color: var(--color-pink); }
.text-pink-dark { color: var(--color-pink-dark); }
.text-pink-darker { color: var(--color-pink-darker); }
.text-pink-darkest { color: var(--color-pink-darkest); }

.background-grape-lightest { background-color: var(--color-grape-lightest); }
.background-grape-lighter { background-color: var(--color-grape-lighter); }
.background-grape-light { background-color: var(--color-grape-light); }
.background-grape { background-color: var(--color-grape); }
.background-grape-dark { background-color: var(--color-grape-dark); }
.background-grape-darker {  background-color: var(--color-grape-darker); }
.background-grape-darkest { background-color: var(--color-grape-darkest); }

.text-grape-lightest { color: var(--color-grape-lightest); }
.text-grape-lighter { color: var(--color-grape-lighter); }
.text-grape-light { color: var(--color-grape-light); }
.text-grape { color: var(--color-grape); }
.text-grape-dark { color: var(--color-grape-dark); }
.text-grape-darker { color: var(--color-grape-darker); }
.text-grape-darkest { color: var(--color-grape-darkest); }

.background-violet-lightest { background-color: var(--color-violet-lightest); }
.background-violet-lighter { background-color: var(--color-violet-lighter); }
.background-violet-light { background-color: var(--color-violet-light); }
.background-violet { background-color: var(--color-violet); }
.background-violet-dark { background-color: var(--color-violet-dark); }
.background-violet-darker { background-color: var(--color-violet-darker); }
.background-violet-darkest { background-color: var(--color-violet-darkest); }

.text-violet-lightest { color: var(--color-violet-lightest); }
.text-violet-lighter { color: var(--color-violet-lighter); }
.text-violet-light { color: var(--color-violet-light); }
.text-violet { color: var(--color-violet); }
.text-violet-dark { color: var(--color-violet-dark); }
.text-violet-darker { color: var(--color-violet-darker); }
.text-violet-darkest { color: var(--color-violet-darkest); }

.background-indigo-lightest { background-color: var(--color-indigo-lightest); }
.background-indigo-lighter { background-color: var(--color-indigo-lighter); }
.background-indigo-light { background-color: var(--color-indigo-light); }
.background-indigo { background-color: var(--color-indigo); }
.background-indigo-dark { background-color: var(--color-indigo-dark); }
.background-indigo-darker { background-color: var(--color-indigo-darker); }
.background-indigo-darkest { background-color: var(--color-indigo-darkest); }

.text-indigo-lightest { color: var(--color-indigo-lightest); }
.text-indigo-lighter { color: var(--color-indigo-lighter); }
.text-indigo-light { color: var(--color-indigo-light); }
.text-indigo { color: var(--color-indigo); }
.text-indigo-dark { color: var(--color-indigo-dark); }
.text-indigo-darker { color: var(--color-indigo-darker); }
.text-indigo-darkest { color: var(--color-indigo-darkest); }

.background-blue-lightest { background-color: var(--color-blue-lightest); }
.background-blue-lighter { background-color: var(--color-blue-lighter); }
.background-blue-light { background-color: var(--color-blue-light); }
.background-blue { background-color: var(--color-blue); }
.background-blue-dark { background-color: var(--color-blue-dark); }
.background-blue-darker { background-color: var(--color-blue-darker); }
.background-blue-darkest { background-color: var(--color-blue-darkest); }

.text-blue-lightest { color: var(--color-blue-lightest); }
.text-blue-lighter { color: var(--color-blue-lighter); }
.text-blue-light { color: var(--color-blue-light); }
.text-blue { color: var(--color-blue); }
.text-blue-dark { color: var(--color-blue-dark); }
.text-blue-darker {color: var(--color-blue-darker); }
.text-blue-darkest { color: var(--color-blue-darkest); }

.background-cyan-lightest { background-color: var(--color-cyan-lightest); }
.background-cyan-lighter { background-color: var(--color-cyan-lighter); }
.background-cyan-light { background-color: var(--color-cyan-light); }
.background-cyan { background-color: var(--color-cyan); }
.background-cyan-dark { background-color: var(--color-cyan-dark); }
.background-cyan-darker { background-color: var(--color-cyan-darker); }
.background-cyan-darkest { background-color: var(--color-cyan-darkest); }

.text-cyan-lightest { color: var(--color-cyan-lightest); }
.text-cyan-lighter { color: var(--color-cyan-lighter); }
.text-cyan-light { color: var(--color-cyan-light); }
.text-cyan { color: var(--color-cyan); }
.text-cyan-dark { color: var(--color-cyan-dark); }
.text-cyan-darker { color: var(--color-cyan-darker); }
.text-cyan-darkest { color: var(--color-cyan-darkest); }

.background-teal-lightest { background-color: var(--color-teal-lightest); }
.background-teal-lighter { background-color: var(--color-teal-lighter); }
.background-teal-light { background-color: var(--color-teal-light); }
.background-teal { background-color: var(--color-teal); }
.background-teal-dark { background-color: var(--color-teal-dark); }
.background-teal-darker { background-color: var(--color-teal-darker); }
.background-teal-darkest { background-color: var(--color-teal-darkest); }

.text-teal-lightest { color: var(--color-teal-lightest); }
.text-teal-lighter { color: var(--color-teal-lighter); }
.text-teal-light { color: var(--color-teal-light); }
.text-teal { color: var(--color-teal); }
.text-teal-dark { color: var(--color-teal-dark); }
.text-teal-darker { color: var(--color-teal-darker); }
.text-teal-darkest { color: var(--color-teal-darkest); }

.background-green-lightest { background-color: var(--color-green-lightest); }
.background-green-lighter { background-color: var(--color-green-lighter); }
.background-green-light { background-color: var(--color-green-light); }
.background-green { background-color: var(--color-green); }
.background-green-dark { background-color: var(--color-green-dark); } 
.background-green-darker { background-color: var(--color-green-darker); }
.background-green-darkest { background-color: var(--color-green-darkest); }

.text-green-lightest { color: var(--color-green-lightest); }
.text-green-lighter { color: var(--color-green-lighter); } 
.text-green-light { color: var(--color-green-light); }
.text-green { color: var(--color-green); }
.text-green-dark { color: var(--color-green-dark); }
.text-green-darker { color: var(--color-green-darker); }
.text-green-darkest { color: var(--color-green-darkest); }

.background-lime-lightest { background-color: var(--color-lime-lightest); }
.background-lime-lighter { background-color: var(--color-lime-lighter); }
.background-lime-light { background-color: var(--color-lime-light); }
.background-lime { background-color: var(--color-lime); }
.background-lime-dark { background-color: var(--color-lime-dark); }
.background-lime-darker { background-color: var(--color-lime-darker); }
.background-lime-darkest { background-color: var(--color-lime-darkest); }

.text-lime-lightest { color: var(--color-lime-lightest); }
.text-lime-lighter { color: var(--color-lime-lighter); }
.text-lime-light { color: var(--color-lime-light); }
.text-lime { color: var(--color-lime); }
.text-lime-dark { color: var(--color-lime-dark); }
.text-lime-darker { color: var(--color-lime-darker); }
.text-lime-darkest { color: var(--color-lime-darkest); }

.background-yellow-lightest { background-color: var(--color-yellow-lightest); }
.background-yellow-lighter { background-color: var(--color-yellow-lighter); }
.background-yellow-light { background-color: var(--color-yellow-light); }
.background-yellow { background-color: var(--color-yellow); }
.background-yellow-dark { background-color: var(--color-yellow-dark); }
.background-yellow-darker { background-color: var(--color-yellow-darker); }
.background-yellow-darkest { background-color: var(--color-yellow-darkest); }

.text-yellow-lightest { color: var(--color-yellow-lightest); }
.text-yellow-lighter { color: var(--color-yellow-lighter); }
.text-yellow-light { color: var(--color-yellow-light); }
.text-yellow { color: var(--color-yellow); }
.text-yellow-dark { color: var(--color-yellow-dark); }
.text-yellow-darker { color: var(--color-yellow-darker); }
.text-yellow-darkest { color: var(--color-yellow-darkest); }

.background-orange-lightest { background-color: var(--color-orange-lightest); }
.background-orange-lighter { background-color: var(--color-orange-lighter); }
.background-orange-light { background-color: var(--color-orange-light); }
.background-orange { background-color: var(--color-orange); }
.background-orange-dark { background-color: var(--color-orange-dark); }
.background-orange-darker { background-color: var(--color-orange-darker); }
.background-orange-darkest { background-color: var(--color-orange-darkest); }

.text-orange-lightest { color: var(--color-orange-lightest); }
.text-orange-lighter { color: var(--color-orange-lighter); }
.text-orange-light { color: var(--color-orange-light); }
.text-orange { color: var(--color-orange); }
.text-orange-dark { color: var(--color-orange-dark); }
.text-orange-darker { color: var(--color-orange-darker); }
.text-orange-darkest { color: var(--color-orange-darkest); }


/* ================================================================ */
/*  $6.4 - Styles - Border Radius                                   */
/* ================================================================ */
.border-radius-none { border-radius: var(--border-radius-none); }
.border-radius-soft { border-radius: var(--border-radius-soft); }
.border-radius-rounded { border-radius: var(--border-radius-rounded); }
.border-radius-circle { border-radius: var(--border-radius-circle); }